/* div {
  border: 1px solid black;
} */

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.column-left {
  flex-grow: 0;
  width: 200px;
}

.column-center {
  flex-grow: 1;
}

.column-right {
  flex-grow: 0;
  width: 200px;
}